@model IEnumerable<Product>
@section Scripts {
    <script src="~/client/vendor.761609f23908e70c.js"></script>
    <script src="~/client/polyfills.e6d45f3c45a8528e.js"></script>
    <script src="~/client/runtime.dc5b7e733f61e8e6.js"></script>
    <script src="~/client/main.c832a1167a9652a7.js" asp-append-version="true"></script>
}
@section head {
    <link href="~/client/styles.ef46db3751d8e999.css" rel="stylesheet" />
}
<the-shop>

</the-shop>
@*<h1>Shop</h1>
<p>Count: @Model.Count()</p>
<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-3">
            <div class="border bg-light rounded p-1">
                <img src="~/img/@(p.ArtId).jpg" alt="@p.Title" class="img-fluid" />
                <h3>@p.Category - @p.Size</h3>
                <ul>
                    <li>Price: $@p.Price</li>
                    <li>Artist: @p.Artist</li>
                    <li>Title: @p.Title</li>
                    <li>Description: @p.ArtDescription</li>
                </ul>
                <button id="buyButton" class="btn btn-success">Buy</button>
            </div>
        </div>
    }
</div>*@